.main-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 25px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.cyan {
  background-color: var(--colorCyan);
  border: 1px solid var(--colorCyan);
} 

.purple {
  background-color: var(--colorPurple);
  border: 1px solid var(--colorPurple);
} 

.white {
  background-color: white;
  color: var(--colorCyan);
  border: 1px solid var(--colorCyan);
  padding: 13px 50px;
  font-weight: 600;
}