.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  /* border: 1px solid blue; */
}

.Navbar_container {
  display: flex;
  align-items: center;
}

.Navbar_nav {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  /* border: 1px solid yellow; */
}

.Navbar_nav li {
  list-style-type: none;
}

.Navbar_nav li a {
  font-weight: 600;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.Navbar_nav li a:hover {
  color: var(--coloCyan);
}

.Navbar_btn {
  display: flex;
  align-items: center;
  height: 100%;
}

.Navbar_btn-login {
  padding: 7px 12px;
  border: 1px solid var(--coloCyan);
  background-color: transparent;
  color: var(--coloCyan);
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  margin-right: 10px;
}

.Navbar_btn-started {
  padding: 7px 12px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
}

.Navbar_img {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  /* border: 1px solid green; */
}

.Navbar_img img {
  width: 100%;
  height: 60%;
}

@media screen and (max-width: 901px) {
  .Navbar,
  .Navbar_container {
    flex-direction: column;
  }

  .Navbar_btn {
    margin-top: 7px;
  }
}

@media screen and (max-width: 500px) {
  .Navbar_nav {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .Navbar_nav li {
    margin-bottom: 7px;
  }

  .Navbar_btn {
    margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .Navbar_btn {
    flex-direction: column;
  }

  .Navbar_btn-login {
    margin-bottom: 10px;
  }

  .Navbar_btn-login {
    margin-right: 0;
  }
}
