:root {
  --colorCyan: #0ee0e0;
  --colorPurple: #ce33e9;
  --colorGray: #515151;
}

.MainContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.MainContainer_img {
  position: absolute;
  width: 100%;
  height: 1000px;
  z-index: -1;
  border-radius: 100% 0% / 50% 50%;
}

@Media screen and (max-width: 750px) {
  .MainContainer_img {
    top: 220px;
    height: 700px;
  }
}

@Media screen and (max-width: 450px) {
  .MainContainer_img {
    top: 450px;
    height: 400px;
  }
}
